/*
 * Leaflet.draw assumes that you have already included the Leaflet CSS.
 */
.leaflet-draw-section {
    position: relative;
}

.leaflet-draw-toolbar {
    margin-top: 12px;
}

.leaflet-draw-toolbar-top {
    margin-top: 0;
}

.leaflet-draw-toolbar-notop a:first-child {
    border-top-right-radius: 0;
}

.leaflet-draw-toolbar-nobottom a:last-child {
    border-bottom-right-radius: 0;
}

/* Deshabilitar los sprites por defecto para evitar duplicación */
.leaflet-draw-toolbar a {
    background-image: none !important;
}

/* Usar solo los sprites del CDN */
.leaflet-draw-toolbar a.leaflet-draw-draw-polyline {
    background-image: url('https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/images/spritesheet.png') !important;
    background-position: -2px -2px !important;
}

.leaflet-draw-toolbar a.leaflet-draw-draw-polygon {
    background-image: url('https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/images/spritesheet.png') !important;
    background-position: -31px -2px !important;
}

.leaflet-draw-toolbar a.leaflet-draw-draw-rectangle {
    background-image: url('https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/images/spritesheet.png') !important;
    background-position: -62px -2px !important;
}

.leaflet-draw-toolbar a.leaflet-draw-draw-circle {
    background-image: url('https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/images/spritesheet.png') !important;
    background-position: -92px -2px !important;
}

.leaflet-draw-toolbar a.leaflet-draw-draw-marker {
    background-image: url('https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/images/spritesheet.png') !important;
    background-position: -122px -2px !important;
}

.leaflet-draw-toolbar a.leaflet-draw-edit-edit {
    background-image: url('https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/images/spritesheet.png') !important;
    background-position: -152px -2px !important;
}

.leaflet-draw-toolbar a.leaflet-draw-edit-remove {
    background-image: url('https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/images/spritesheet.png') !important;
    background-position: -182px -2px !important;
}

/* Estilos para pantallas retina */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min--moz-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2/1),
       only screen and (min-device-pixel-ratio: 2),
       only screen and (min-resolution: 2dppx) {
    .leaflet-draw-toolbar a.leaflet-draw-draw-polyline,
    .leaflet-draw-toolbar a.leaflet-draw-draw-polygon,
    .leaflet-draw-toolbar a.leaflet-draw-draw-rectangle,
    .leaflet-draw-toolbar a.leaflet-draw-draw-circle,
    .leaflet-draw-toolbar a.leaflet-draw-draw-marker,
    .leaflet-draw-toolbar a.leaflet-draw-edit-edit,
    .leaflet-draw-toolbar a.leaflet-draw-edit-remove {
        background-image: url('https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/images/spritesheet-2x.png') !important;
        background-size: 300px 30px !important;
    }
}

.leaflet-draw a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.leaflet-draw a .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.leaflet-draw-actions {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 26px;
    top: 0;
    white-space: nowrap;
}

.leaflet-touch .leaflet-draw-actions {
    left: 32px;
}

.leaflet-right .leaflet-draw-actions {
    right: 26px;
    left: auto;
}

.leaflet-touch .leaflet-right .leaflet-draw-actions {
    right: 32px;
    left: auto;
}

.leaflet-draw-actions li {
    display: inline-block;
}

.leaflet-draw-actions li:first-child a {
    border-left: 0;
}

.leaflet-draw-actions li:last-child a {
    border-radius: 0 4px 4px 0;
}

.leaflet-right .leaflet-draw-actions li:last-child a {
    border-radius: 0;
}

.leaflet-right .leaflet-draw-actions li:first-child a {
    border-radius: 4px 0 0 4px;
}

.leaflet-draw-actions a {
    background-color: #919187;
    border-left: 1px solid #AAA;
    color: #FFF;
    font: 11px/19px "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 28px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 28px;
}

.leaflet-touch .leaflet-draw-actions a {
    font-size: 12px;
    line-height: 30px;
    height: 30px;
}

.leaflet-draw-actions-bottom {
    margin-top: 0;
}

.leaflet-draw-actions-top {
    margin-top: 1px;
}

.leaflet-draw-actions-top a,
.leaflet-draw-actions-bottom a {
    height: 27px;
    line-height: 27px;
}

.leaflet-draw-actions a:hover {
    background-color: #a0a098;
}

.leaflet-draw-actions-top.leaflet-draw-actions-bottom a {
    height: 26px;
    line-height: 26px;
}

.leaflet-draw-toolbar .leaflet-draw-draw-polyline {
    background-position: -2px -2px;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-polyline {
    background-position: 0 -1px;
}

.leaflet-draw-toolbar .leaflet-draw-draw-polygon {
    background-position: -31px -2px;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-polygon {
    background-position: -29px -1px;
}

.leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
    background-position: -62px -2px;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
    background-position: -60px -1px;
}

.leaflet-draw-toolbar .leaflet-draw-draw-circle {
    background-position: -92px -2px;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-circle {
    background-position: -90px -1px;
}

.leaflet-draw-toolbar .leaflet-draw-draw-marker {
    background-position: -122px -2px;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-marker {
    background-position: -120px -1px;
}

.leaflet-draw-toolbar .leaflet-draw-edit-edit {
    background-position: -152px -2px;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-edit {
    background-position: -150px -1px;
}

.leaflet-draw-toolbar .leaflet-draw-edit-remove {
    background-position: -182px -2px;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-remove {
    background-position: -180px -1px;
}

.leaflet-draw-toolbar .leaflet-draw-edit-edit.leaflet-disabled {
    background-position: -212px -2px;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-edit.leaflet-disabled {
    background-position: -210px -1px;
}

.leaflet-draw-toolbar .leaflet-draw-edit-remove.leaflet-disabled {
    background-position: -242px -2px;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-remove.leaflet-disabled {
    background-position: -240px -2px;
}

.leaflet-mouse-marker {
    background-color: #fff;
    cursor: crosshair;
}

/* Estilos para tooltips de dibujo */
.leaflet-draw-tooltip {
    background: #363636;
    background: rgba(0,0,0,0.8);
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    font: 12px/18px "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 4px 8px;
    position: absolute;
    white-space: nowrap;
    z-index: 6;
    visibility: visible !important;
    opacity: 1 !important;
    pointer-events: none;
    /* Posición por defecto, se ajustará con JavaScript */
    left: 0;
    top: 0;
}

/* Asegurar que los tooltips no se salgan de la pantalla */
.leaflet-draw-tooltip.leaflet-draw-tooltip-top {
    margin-top: -30px;
}

.leaflet-draw-tooltip.leaflet-draw-tooltip-bottom {
    margin-top: 10px;
}

.leaflet-draw-tooltip.leaflet-draw-tooltip-left {
    margin-left: -10px;
}

.leaflet-draw-tooltip.leaflet-draw-tooltip-right {
    margin-left: 10px;
}

/* Posicionamiento del triángulo del tooltip */
.leaflet-draw-tooltip:before {
    content: "";
    position: absolute;
    border-style: solid;
    pointer-events: none;
}

/* Posición del triángulo según la posición del tooltip */
.leaflet-draw-tooltip.leaflet-draw-tooltip-top:before {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-color: rgba(0,0,0,0.8) transparent transparent;
}

.leaflet-draw-tooltip.leaflet-draw-tooltip-bottom:before {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-color: transparent transparent rgba(0,0,0,0.8);
}

.leaflet-draw-tooltip.leaflet-draw-tooltip-left:before {
    left: 100%;
    top: 50%;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent rgba(0,0,0,0.8);
}

.leaflet-draw-tooltip.leaflet-draw-tooltip-right:before {
    right: 100%;
    top: 50%;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-color: transparent rgba(0,0,0,0.8) transparent transparent;
}

.leaflet-draw-tooltip-single {
    margin-top: -12px;
}

.leaflet-draw-tooltip-subtext {
    color: #f8d5e4;
    display: block;
    font-size: 10px;
    margin-top: 2px;
}

.leaflet-error-draw-tooltip {
    background-color: #f2dede;
    border: 1px solid #e6b6bd;
    color: #b94a48;
}

.leaflet-error-draw-tooltip:before {
    border-right-color: #e6b6bd;
}

.leaflet-draw-tooltip-single {
    margin-top: -12px;
}

.leaflet-draw-tooltip-subtext {
    color: #f8d5e4;
}

.leaflet-draw-guide-dash {
    font-size: 1%;
    opacity: .6;
    position: absolute;
    width: 5px;
    height: 5px;
}

.leaflet-edit-marker-selected {
    background-color: rgba(254,87,161,0.1);
    border: 4px dashed rgba(254,87,161,0.6);
    border-radius: 4px;
    box-sizing: content-box;
}

.leaflet-edit-move {
    cursor: move;
}

.leaflet-edit-resize {
    cursor: pointer;
}

.leaflet-oldie .leaflet-draw-toolbar {
    border: 1px solid #999;
}

/* Clearfix para contenedores flotantes */
.leaflet-draw-toolbar:after,
.leaflet-draw-actions:after {
    content: "";
    display: table;
    clear: both;
}
