/*
 * Leaflet.draw assumes that you have already included the Leaflet CSS.
 */
.leaflet-draw-toolbar-top {
    margin-top: 12px;
}
.leaflet-draw-toolbar-bottom {
    margin-bottom: 12px;
}
.leaflet-draw-draw-polyline,
.leaflet-draw-draw-polygon,
.leaflet-draw-draw-rectangle,
.leaflet-draw-draw-circle,
.leaflet-draw-draw-marker,
.leaflet-draw-edit-edit,
.leaflet-draw-edit-remove {
    background-image: url('./images/spritesheet.svg');
    background-repeat: no-repeat;
}
.leaflet-retina .leaflet-draw-draw-polyline,
.leaflet-retina .leaflet-draw-draw-polygon,
.leaflet-retina .leaflet-draw-draw-rectangle,
.leaflet-retina .leaflet-draw-draw-circle,
.leaflet-retina .leaflet-draw-draw-marker,
.leaflet-retina .leaflet-draw-edit-edit,
.leaflet-retina .leaflet-draw-edit-remove {
    background-image: url('./images/spritesheet-2x.svg');
    background-size: 300px 30px;
}
.leaflet-draw-section {
    position: relative;
}
.leaflet-draw-toolbar {
    border: 1px solid #999;
    border-bottom: 0;
    display: block;
    float: left;
    margin-right: 10px;
}
.leaflet-draw-toolbar:last-of-type {
    border-bottom: 1px solid #999;
}
.leaflet-draw-toolbar a {
    background-color: #fff;
    border-bottom: 1px solid #999;
    color: #000;
    display: block;
    height: 30px;
    width: 30px;
    position: relative;
    text-decoration: none;
    outline: 0;
}
.leaflet-draw-toolbar a:last-child {
    border-bottom: 0;
}
.leaflet-draw-toolbar a:hover,
.leaflet-draw-toolbar a.leaflet-draw-toolbar-button-enabled {
    background-color: #f4f4f4;
}
.leaflet-draw-toolbar a.leaflet-draw-toolbar-button-enabled {
    cursor: default;
}
.leaflet-draw-toolbar .leaflet-draw-draw-polyline {
    background-position: -2px -2px;
}
.leaflet-draw-toolbar .leaflet-draw-draw-polygon {
    background-position: -32px -2px;
}
.leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
    background-position: -62px -2px;
}
.leaflet-draw-toolbar .leaflet-draw-draw-circle {
    background-position: -92px -2px;
}
.leaflet-draw-toolbar .leaflet-draw-draw-marker {
    background-position: -122px -2px;
}
.leaflet-draw-toolbar .leaflet-draw-edit-edit {
    background-position: -152px -2px;
}
.leaflet-draw-toolbar .leaflet-draw-edit-remove {
    background-position: -182px -2px;
}
.leaflet-draw-actions {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 30px;
    background-color: #999;
    border-radius: 0 4px 4px 0;
    border-left: 1px solid #b3b3b3;
    z-index: 1000;
}
.leaflet-draw-actions li {
    float: left;
}
.leaflet-draw-actions a {
    background-color: #999;
    border-color: #aaa;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
    white-space: nowrap;
}
.leaflet-draw-actions a:hover {
    background-color: #a6a6a6;
    color: #fff;
}
.leaflet-draw-tooltip {
    background: rgba(0,0,0,0.8);
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    margin-left: 20px;
    margin-top: -21px;
    padding: 8px;
    position: absolute;
    white-space: nowrap;
    z-index: 6;
    box-shadow: none;
    pointer-events: none;
}
.leaflet-draw-tooltip:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    margin-top: -6px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 10px solid rgba(0,0,0,0.8);
}

/* Clearfix para contenedores flotantes */
.leaflet-draw-toolbar:after,
.leaflet-draw-actions:after {
    content: "";
    display: table;
    clear: both;
}
