/*
 * Leaflet.draw assumes that you have already included the Leaflet CSS.
 */

.leaflet-draw-toolbar-top {
	margin-top: 12px;
}

.leaflet-draw-toolbar-bottom {
	margin-bottom: 12px;
}

.leaflet-draw-draw-polyline,
.leaflet-draw-draw-polygon,
.leaflet-draw-draw-rectangle,
.leaflet-draw-draw-circle,
.leaflet-draw-draw-marker,
.leaflet-draw-edit-edit,
.leaflet-draw-edit-remove {
	background-image: url('images/spritesheet.svg');
	background-repeat: no-repeat;
}

.leaflet-retina .leaflet-draw-draw-polyline,
.leaflet-retina .leaflet-draw-draw-polygon,
.leaflet-retina .leaflet-draw-draw-rectangle,
.leaflet-retina .leaflet-draw-draw-circle,
.leaflet-retina .leaflet-draw-draw-marker,
.leaflet-retina .leaflet-draw-edit-edit,
.leaflet-retina .leaflet-draw-edit-remove {
	background-image: url('images/spritesheet-2x.svg');
	background-size: 270px 30px;
}

/* Toolbar styles */
.leaflet-draw-section {
	position: relative;
}

.leaflet-draw-toolbar {
	border: 1px solid #999;
	border-bottom: 0; /* To prevent double-thickness borders */
}

.leaflet-draw-toolbar:last-of-type {
	border-bottom: 1px solid #999;
}

.leaflet-draw-toolbar a {
	background-color: #fff;
	border-bottom: 1px solid #999;
	color: #000;
	display: block;
	float: left;
	height: 30px;
	width: 30px;

	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.leaflet-draw-toolbar a:last-child {
	border-right: 0;
}

.leaflet-draw-toolbar a:hover,
.leaflet-draw-toolbar a.leaflet-draw-toolbar-button-enabled {
	background-color: #f4f4f4;
}

.leaflet-draw-toolbar a.leaflet-draw-toolbar-button-enabled {
	cursor: default;
}

.leaflet-draw-toolbar .leaflet-draw-draw-polyline {
	background-position: -2px -2px;
}

.leaflet-draw-toolbar .leaflet-draw-draw-polygon {
	background-position: -32px -2px;
}

.leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
	background-position: -62px -2px;
}

.leaflet-draw-toolbar .leaflet-draw-draw-circle {
	background-position: -92px -2px;
}

.leaflet-draw-toolbar .leaflet-draw-draw-marker {
	background-position: -122px -2px;
}

.leaflet-draw-toolbar .leaflet-draw-edit-edit {
	background-position: -152px -2px;
}

.leaflet-draw-toolbar .leaflet-draw-edit-remove {
	background-position: -182px -2px;
}

/* Edit toolbar styles */
.leaflet-draw-actions {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 30px;
	left: 0;
	background-color: #999;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.leaflet-draw-actions-top {
	top: 0;
	left: 30px;
	border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-left: 1px solid #b3b3b3;
}

.leaflet-draw-actions-bottom {
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-bottom: 1px solid #b3b3b3;
}

.leaflet-draw-actions-left {
	top: 0;
	left: -80px;
	width: 80px;
	border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-right: 1px solid #b3b3b3;
}

.leaflet-draw-actions-right {
	top: 0;
	left: 30px;
	border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-left: 1px solid #b3b3b3;
}

.leaflet-draw-actions li {
	float: left;
}

.leaflet-draw-actions li:first-child a {
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;

	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}

.leaflet-draw-actions-bottom li:first-child a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
}

.leaflet-draw-actions-bottom li:last-child a {
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
}

.leaflet-draw-actions li:last-child a {
	margin-right: -1px; /* iOS odd border bug */

	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;

	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
}

.leaflet-draw-actions a {
	background-color: #999;
	border-color: #aaa;
	color: #fff;
	display: block;
	text-align: center;
	text-decoration: none;
	line-height: 30px;
	height: 30px;
}

.leaflet-draw-actions a:hover {
	background-color: #a6a6a6;
}

/* Tooltips */
.leaflet-draw-tooltip {
	background: #333;
	background: rgba(0,0,0,0.8);
	border: 0;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff;
	font-size: 12px;
	margin-left: 20px;
	margin-top: -21px;
	padding: 8px;
	position: absolute;
	white-space: nowrap;
	z-index: 6;

	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.leaflet-draw-tooltip-top:before,
.leaflet-draw-tooltip-bottom:before,
.leaflet-draw-tooltip-left:before,
.leaflet-draw-tooltip-right:before {
	content: '';
	position: absolute;
}

.leaflet-draw-tooltip-bottom {
	margin-top: 10px;
}

.leaflet-draw-tooltip-bottom:before {
	border-bottom: 7px solid #333;
	border-bottom-color: rgba(0,0,0,0.8);
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	left: 50%;
	margin-left: -7px;
	top: -7px;
}

.leaflet-draw-tooltip-top {
	margin-top: -42px;
}

.leaflet-draw-tooltip-top:before {
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #333;
	border-top-color: rgba(0,0,0,0.8);
	bottom: -7px;
	left: 50%;
	margin-left: -7px;
}

.leaflet-draw-tooltip-left {
	margin-left: -10px;
	margin-top: -10px;
}

.leaflet-draw-tooltip-left:before {
	border-bottom: 7px solid transparent;
	border-left: 7px solid #333;
	border-left-color: rgba(0,0,0,0.8);
	border-top: 7px solid transparent;
	margin-top: -7px;
	position: absolute;
	right: -7px;
	top: 50%;
}

.leaflet-draw-tooltip-right {
	margin-left: 10px;
	margin-top: -10px;
}

.leaflet-draw-tooltip-right:before {
	border-bottom: 7px solid transparent;
	border-right: 7px solid #333;
	border-right-color: rgba(0,0,0,0.8);
	border-top: 7px solid transparent;
	left: -7px;
	margin-top: -7px;
	top: 50%;
}

/* Drawing styles */
.leaflet-draw-marker-icon,
.leaflet-draw-marker-stack .leaflet-marker-icon,
.leaflet-draw-marker-stack .leaflet-marker-shadow {
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	-ms-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.leaflet-draw-guide-dash {
	font-size: 1%;
	opacity: 0.6;
	position: absolute;
	overflow: hidden;
}

.leaflet-draw-edit-marker-selected .leaflet-marker-icon {
	opacity: 0.5;
}

/* Edit handles styles */
.leaflet-edit-marker-selected {
	z-index: 10000; /* over the other markers */
}

.leaflet-edit-handle {
	background: #fff;
	border: 1px solid #aaa;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	width: 9px;
	height: 9px;
}

.leaflet-edit-move {
	cursor: move;
}

.leaflet-edit-resize {
	cursor: nesw-resize;
}
